<md-dialog aria-label="Dodaj kierowcę do kampanii" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Autocomplete Dialog Example</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-icon md-font-set="material-icons" aria-label="Close dialog">add_box</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
    </md-dialog-content>
    <div class="md-dialog-content">
        <form ng-submit="$event.preventDefault()">
            <p>Wybierz kampanię</p>
            <md-autocomplete
                    md-selected-item="ctrl.selectedItem"
                    md-search-text="ctrl.searchText"
                    md-items="item in ctrl.querySearch(ctrl.searchText)"
                    md-item-text="item.display"
                    md-min-length="0"
                    placeholder="nazwa kampanii">
                <md-item-template>
                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
                <md-not-found>
                    No states matching "{{ctrl.searchText}}" were found.
                </md-not-found>
            </md-autocomplete>
        </form>
    </div>
    <div class="md-dialog-actions" layout="row">
        <md-button aria-label="Add" ng-click="ctrl.add($event)">Dodaj</md-button>
        <md-button aria-label="Cancel" ng-click="ctrl.cancel($event)">Cancel</md-button>
    </div>
</md-dialog>
