md-checkbox {
    margin: 8px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 0;
    line-height: 26px;
    min-width: 18px;
    min-height: 18px;
}

pre {
    border: 1px solid #000000;
    /*background-color: #d3d3d3;*/
}
