<!DOCTYPE html>
<html lang="en">
<head>
    <title>Adroads admin</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>

    <link rel="stylesheet" type="text/css" href="bower_components/ag-grid/dist/ag-grid.min.css">
    <link rel="stylesheet" href="bower_components/ag-grid/dist/theme-dark.min.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/ag-grid/dist/theme-fresh.min.css">
    <!--<style type="text/css" id="calendarMdCss">calendar-md md-content>md-content.agenda>*>* :not(:first-child),calendar-md md-content>md-content.calendar>:not(:first-child)>* :last-child{overflow:hidden;text-overflow:ellipsis}calendar-md{display:block;max-height:100%}calendar-md .md-toolbar-tools h2{overflow-x:hidden;text-overflow:ellipsis;white-space:nowrap}calendar-md md-content>md-content{border:1px solid rgba(0,0,0,.12)}calendar-md md-content>md-content.agenda>*>*{border-bottom:1px solid rgba(0,0,0,.12)}calendar-md md-content>md-content.agenda>*>.disabled{color:rgba(0,0,0,.3);pointer-events:none;cursor:auto}calendar-md md-content>md-content.agenda>*>* :first-child{padding:12px;width:200px;text-align:right;color:rgba(0,0,0,.75);font-weight:100;overflow-x:hidden;text-overflow:ellipsis;white-space:nowrap}calendar-md md-content>md-content>*>*{min-width:48px}calendar-md md-content>md-content.calendar>:first-child{background:rgba(0,0,0,.02);border-bottom:1px solid rgba(0,0,0,.12);margin-right:0;min-height:36px}calendar-md md-content>md-content.calendar>:not(:first-child)>*{border-bottom:1px solid rgba(0,0,0,.12);border-right:1px solid rgba(0,0,0,.12);cursor:pointer}calendar-md md-content>md-content.calendar>:not(:first-child)>:hover{background:rgba(0,0,0,.04)}calendar-md md-content>md-content.calendar>:not(:first-child)>.disabled{color:rgba(0,0,0,.3);pointer-events:none;cursor:auto}calendar-md md-content>md-content.calendar>:not(:first-child)>.active{box-shadow:0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);background:rgba(0,0,0,.02)}calendar-md md-content>md-content.calendar>:not(:first-child)>* :first-child{padding:0}</style>-->


    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="custom.css">

</head>

<body ng-app="starterApp" layout="row" ng-controller="MainController as main" ng-cloak>

<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="leftNav"
            md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whiteframe-z1">
        <md-button class="md-icon-button" ng-click="toggleSidenav('leftNav')" hide-gt-md aria-label="Menu"></md-button>
        <h1>Adroads admin</h1>
        <button ng-if="main.loggedInUser" class="btn btn-default navbar-btn"
                ng-click="main.logout()">Wyloguj <strong>{{main.loggedInUser}}</strong></button>
    </md-toolbar>

    <md-list>
        <md-list-item md-ink-ripple ng-repeat="item in menu" ui-sref="{{item.state}}" ng-hide="!main.loggedInUser">
            <md-item-content layout="row" layout-align="start center">
                <md-icon md-font-set="material-icons" aria-label="{{item.title}}">{{item.icon}}</md-icon>
                <div class="inset">{{item.title}}</div>
            </md-item-content>
        </md-list-item>
    </md-list>
</md-sidenav>



<div id="content" ui-view flex></div>

<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/jquery/dist/jquery.min.js"></script>
<script src="./bower_components/angular-animate/angular-animate.js"></script>
<script src="./bower_components/angular-aria/angular-aria.js"></script>
<script src="./bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="./bower_components/angular-messages/angular-messages.min.js"></script>
<script src="./bower_components/material-calendar/angular-material-calendar.js"></script>
<script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>
<script src="./bower_components/ag-grid/dist/ag-grid.js"></script>
<script src="./bower_components/satellizer/satellizer.min.js"></script>
<script src="./bower_components/ngstorage/ngStorage.min.js"></script>

<script src="src/adroads.ui/Main.js"></script>
<script src="src/adroads.ui/MainController.js"></script>
<script src="src/adroads.ui/CampaignsCalendarController.js"></script>
<script src="src/adroads.ui/DriversController.js"></script>
<script src="src/adroads.ui/UserService.js"></script>
<script src="src/adroads.ui/CampaignDetailsController.js"></script>
<script src="src/adroads.ui/EditDriverController.js"></script>
<script src="src/adroads.ui/DriversRegistrationController.js"></script>
<script src="src/adroads.ui/LoginController.js"></script>

<script type="text/javascript">

    angular
            .module('starterApp', ['ngMaterial', 'users'])
            .config(function ($mdThemingProvider, $mdIconProvider) {

                $mdIconProvider
                        .defaultIconSet("./assets/svg/avatars.svg", 128)
                        .icon("menu", "./assets/svg/menu.svg", 24)
                        .icon("share", "./assets/svg/share.svg", 24)
                        .icon("google_plus", "./assets/svg/google_plus.svg", 512)
                        .icon("hangouts", "./assets/svg/hangouts.svg", 512)
                        .icon("twitter", "./assets/svg/twitter.svg", 512)
                        .icon("phone", "./assets/svg/phone.svg", 512);

                $mdThemingProvider.theme('default')
                        .primaryPalette('brown')
                        .accentPalette('red');

            });

</script>

</body>
</html>
