<div layout="column" ng-controller="CampaignDetailsController as controller" data-ng-init="controller.init()" ng-cloak>

    <md-toolbar md-scroll-shrink ng-if="true">
        <div class="md-toolbar-tools">
            <h3>
                <span>Detale kampanii</span>
            </h3>
        </div>
    </md-toolbar>

    <md-content flex>
        <ui-view layout="column">
            <md-card flex-gt-sm="90" flex-gt-md="80">
                <md-card-content>
                    <h3>{{ controller.campaign.name }}</h3>
                    <h4>{{ controller.campaign.description }}</h4>

                    <p>{{ controller.campaign.startDate }} - {{ controller.campaign.endDate }}</p>

                    <p>{{controller.campaign.campaignDriverResources.length}}</p>
                </md-card-content>
            </md-card>
            <md-card flex-gt-sm="90" flex-gt-md="80">
                <h4>Kierowcy</h4>
                <md-list>
                    <md-list-item class="md-3-line"
                                  ng-repeat="driver in controller.campaign.campaignDriverResources">
                        <p>{{driver.driverId}}</p>
                        <p>{{driver.email}}</p>
                        <p>{{driver.status}}</p>
                    </md-list-item>
                </md-list>
            </md-card>
        </ui-view>
    </md-content>

    <md-content>
        <pre>{{controller.campaign}}</pre>
    </md-content>

</div>
