<h2>campaigns-calendar.html</h2>

<md-calendar flex layout layout-fill
             calendar-direction="direction"
             on-prev-month="prevMonth"
             on-next-month="nextMonth"
             on-day-click="dayClick"
             title-format="'MMMM y'"
             ng-model='selectedDate'
             day-format="dayFormat"
             day-label-format="'EEE'"
             day-label-tooltip-format="'EEEE'"
             day-tooltip-format="'fullDate'"
             week-starts-on="firstDayOfWeek"
             day-content="setDayContent"></md-calendar>
