<div layout="column" ng-controller="campaignsController as controller" data-ng-init="controller.init()" ng-cloak>

    <md-toolbar md-scroll-shrink ng-if="true">
        <div class="md-toolbar-tools">
            <h3>
                <span>Kampanie</span>
            </h3>
        </div>
    </md-toolbar>


    <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="controller.showAdd($event)">
        <md-icon md-font-set="material-icons" aria-label="add">add</md-icon>
    </md-button>

    <md-content flex>
        <ui-view layout="column">
            <md-card flex-gt-sm="90" flex-gt-md="80">
                <md-card-content>
                    <md-list>
                        <md-list-item class="md-3-line" ng-repeat="campaign in controller.campaigns">
                            <div class="md-list-item-text" layout="column" ng-click="controller.goToCampaignDetails(campaign.uuid)">
                                <h3>{{ campaign.name }}</h3>
                                <h4>{{ campaign.description }}</h4>

                                <p>{{ campaign.startDate }} - {{ campaign.endDate }}</p>

                                <p>{{campaign.campaignDriverResources.length}}</p>
                                <md-divider></md-divider>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>
        </ui-view>


    <pre>{{controller.campaigns}}</pre>
    </md-content>

</div>
