<md-dialog aria-label="Form">
    <md-content class="md-padding">
        <form name="campaign">
            <div layout layout-sm="column">
                <md-content layout-padding layout="column" layout-sm="column">
                    <md-input-container flex>
                        <label>Nazwa</label>
                        <input ng-model="createCampaignRequest.name">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Opis</label>
                        <input ng-model="createCampaignRequest.description">
                    </md-input-container>
                    <md-datepicker ng-model="createCampaignRequest.startDate" md-placeholder="start"></md-datepicker>
                    <md-datepicker ng-model="createCampaignRequest.endDate" md-placeholder="koniec"></md-datepicker>
                </md-content>
            </div>
        </form>
    </md-content>
    <div class="md-dialog-actions" layout="row"><span flex></span>
        <md-button ng-click="cancel()"> Cancel</md-button>
        <md-button ng-click="createCampaign()" class="md-primary"> Save</md-button>
    </div>
</md-dialog>


<!--<div>-->
<!--<md-content layout-padding layout="column" layout-sm="column">-->
<!--<md-input-container flex>-->
<!--<label>Nazwa</label>-->
<!--<input ng-model="createCampaignRequest.name">-->
<!--</md-input-container>-->
<!--<md-input-container flex>-->
<!--<label>Opis</label>-->
<!--<input ng-model="createCampaignRequest.description">-->
<!--</md-input-container>-->
<!--<md-datepicker ng-model="createCampaignRequest.startDate" md-placeholder="start"></md-datepicker>-->
<!--<md-datepicker ng-model="createCampaignRequest.endDate" md-placeholder="koniec"></md-datepicker>-->
<!--</md-content>-->

<!--&lt;!&ndash;<div class="md-actions" layout="row"><span flex></span>&ndash;&gt;-->
<!--&lt;!&ndash;<md-button ng-click="cancel()"> Cancel</md-button>&ndash;&gt;-->
<!--&lt;!&ndash;<md-button ng-click="createCampaign()" class="md-primary">Stwórz</md-button>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<button ng-click="createCampaign()">Stwórz</button>-->
<!--</div>-->


<!--<md-dialog aria-label="Form">-->
<!--<md-content class="md-padding">-->
<!--<form name="userForm">-->
<!--<div layout layout-sm="column">-->
<!--<md-input-container flex><label>First Name</label> <input ng-model="user.firstName">-->
<!--</md-input-container>-->
<!--<md-input-container flex><label>Last Name</label> <input ng-model="user.lastName"></md-input-container>-->
<!--</div>-->
<!--<md-input-container flex><label>Message</label> <textarea ng-model="user.biography" columns="1"-->
<!--md-maxlength="150"></textarea>-->
<!--</md-input-container>-->
<!--</form>-->
<!--</md-content>-->

<!--</md-dialog>-->