<div layout="column" ng-controller="DriversRegistrationController as controller" ng-cloak>
    <!--<div ng-controller="driversRegistrationController as controller" layout="column" style="height:900px; width: 1400px" ng-cloak>-->

    <md-toolbar md-scroll-shrink ng-if="true">
        <div class="md-toolbar-tools">
            <h3>
                <span>Zarejestruj kierowcę</span>
            </h3>
        </div>
    </md-toolbar>

    <md-content flex>
        <ui-view layout="column">
            <div>
                <!--<div name="driversRegistration">-->
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Imie</label>
                        <input type="text" id="imie" name="imie" ng-model="createDriverRequest.name">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Nazwisko</label>
                        <input type="text" id="nazwisko" name="nazwisko" ng-model="createDriverRequest.surname">
                    </md-input-container>
                    <md-datepicker id="dataUrodzenia" name="dataUrodzenia"
                                   ng-model="controller.dateOfBirth"></md-datepicker>
                </div>
            </div>
        </ui-view>
    </md-content>

    <md-content flex>
        <ui-view layout="column">

            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Email</label>
                    <input type="text" id="email" name="email" ng-model="createDriverRequest.email">
                </md-input-container>
            </div>
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label for="kodPocztowy">Kod pocztowy</label>
                    <input type="text" id="kodPocztowy" name="kodPocztowy"
                           ng-model="createDriverRequest.address.postcode">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label for="kodPocztowy">Ulica</label>
                    <input type="text" id="ulica" name="ulica"
                           ng-model="createDriverRequest.address.street">
                </md-input-container>
            </div>
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label for="miejscowosc">Miejscowosc</label>
                    <input type="text" id="miejscowosc" name="miejscowosc"
                           ng-model="createDriverRequest.address.city">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Wojewdztwo</label>
                    <md-select ng-model="createDriverRequest.address.province">
                        <md-option ng-repeat="province in provinces" value="{{province}}">
                            {{province}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

        </ui-view>
    </md-content>

    <md-content flex>
        <ui-view layout="column">

            <div layout-gt-xs="row">
                <md-autocomplete flex required
                                 md-input-name="autocompleteField"
                                 md-input-minlength="2"
                                 md-input-maxlength="18"
                                 md-no-cache="controller.noCache"
                                 md-selected-item="controller.selectedCarMake"
                                 md-search-text="controller.searchCarMake"
                                 md-items="item in controller.queryMakes(controller.searchCarMake)"
                                 md-item-text="item.display"
                                 md-floating-label="Marka pojazdu">
                    <md-item-template>
                        <span md-highlight-text="controller.searchCarMake">{{item.display}}</span>
                    </md-item-template>
                </md-autocomplete>

                <md-autocomplete flex required
                                 md-input-name="autocompleteField"
                                 md-input-minlength="2"
                                 md-input-maxlength="18"
                                 md-no-cache="controller.noCache"
                                 md-selected-item="controller.selectedCarModel"
                                 md-search-text="controller.searchCarModel"
                                 md-items="item in controller.queryModels(controller.searchCarModel)"
                                 md-item-text="item.display"
                                 md-floating-label="Model pojazdu">
                    <md-item-template>
                        <span md-highlight-text="controller.searchCarModel">{{item.display}}</span>
                    </md-item-template>
                </md-autocomplete>
            </div>
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Rocznik pojazdu</label>
                    <md-select ng-model="createDriverRequest.carDetails.year">
                        <md-option ng-repeat="year in carYears" value="{{year}}">
                            {{year}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label for="przebieg">Przebieg</label>
                    <input type="text" id="przebieg" name="przebieg"
                           ng-model="createDriverRequest.carDetails.mileage">
                </md-input-container>
            </div>
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Typ nadwozia</label>
                    <md-select ng-model="createDriverRequest.carDetails.body">
                        <md-option ng-repeat="body in carBodies" value="{{body}}">
                            {{body}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Kolor</label>
                    <md-select ng-model="createDriverRequest.carDetails.colour">
                        <md-option ng-repeat="colour in carColours" value="{{colour}}">
                            {{colour}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Szerokość szyby (w cm)</label>
                    <input type="text" ng-model="createDriverRequest.carDetails.windscreenDimensions.width">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Wysokość szyby (w cm)</label>
                    <input type="text" ng-model="createDriverRequest.carDetails.windscreenDimensions.height">
                </md-input-container>
            </div>

        </ui-view>
    </md-content>

    <md-content flex>
        <ui-view layout="column">

            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Grupa zawodowa</label>
                    <md-select ng-model="createDriverRequest.driverDetails.type">
                        <md-option ng-repeat="type in driversTypes" value="{{type.value}}">
                            {{type.label}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-xs>
                    <label>Srednia ilosc km na miesiac</label>
                    <md-radio-group ng-model="createDriverRequest.driverDetails.monthlyDistanceIndex">
                        <md-radio-button value="1">1 - 2.5 tys</md-radio-button>
                        <md-radio-button value="2">2.5 - 4 tys</md-radio-button>
                        <md-radio-button value="3">4-6 tys</md-radio-button>
                        <md-radio-button value="4">6+ tys</md-radio-button>
                    </md-radio-group>
                </md-input-container>
                <!--</div>-->
                </form>
            </div>
        </ui-view>
    </md-content>

    <md-button class="md-fab" aria-label="Eat cake" ng-click="controller.registerDriver()">
        <md-icon md-font-set="material-icons">add</md-icon>
    </md-button>

</div>
