<div ng-controller="driversController as controller" layout="column" style="height:900px; width: 1400px" ng-cloak>

    <md-toolbar md-scroll-shrink ng-if="true">
        <div class="md-toolbar-tools">
            <h3>
                <span>Drivers Page</span>
            </h3>
        </div>
    </md-toolbar>

    <md-content flex>

        <md-button class="md-fab" aria-label="Eat cake" ng-click="controller.filterResults()">
            <md-icon md-font-set="material-icons">refresh</md-icon>
        </md-button>

        <md-card class="md-padding">
            <md-card-text>
                <div layout="row" layout-wrap flex>
                    <div flex="10" ng-repeat="carBody in controller.constants.carBodies">
                        <md-checkbox ng-click="controller.toggle(carBody, controller.filterCriteriaResource.carBody)">
                            {{carBody}}
                        </md-checkbox>
                    </div>
                </div>
            </md-card-text>
        </md-card>

        <md-card class="md-padding">
            <md-card-text>
                <div layout="row" layout-wrap flex>
                    <table class="row">

                        <tr>
                            <td>
                                <label for="mileageFrom">Przebieg od</label><input id="mileageFrom" on-enter-blur
                                                                                   on-blur-change="controller.filterResults()"
                                                                                   ng-model="controller.filterCriteriaResource.mileageFrom"
                                                                                   type="text"/>
                            </td>
                            <td>
                                <label for="mileageTo">Przebieg do</label><input id="mileageTo" on-enter-blur
                                                                                 on-blur-change="controller.filterResults()"
                                                                                 ng-model="controller.filterCriteriaResource.mileageTo"
                                                                                 type="text"/>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="rocznikFrom">Rocznik od</label><input id="rocznikFrom" on-enter-blur
                                                                                  on-blur-change="controller.filterResults()"
                                                                                  ng-model="controller.filterCriteriaResource.yearFrom"
                                                                                  type="text"/>
                            </td>
                            <td>
                                <label for="rocznikTo">Rocznik do</label><input id="rocznikTo" on-enter-blur
                                                                                on-blur-change="controller.filterResults()"
                                                                                ng-model="controller.filterCriteriaResource.yearTo"
                                                                                type="text"/>
                            </td>
                        </tr>


                    </table>
                </div>
            </md-card-text>
        </md-card>


    </md-content>

    <md-content flex>
        <table class="table table-condensed">
            <thead>
            <tr>
                <td colspan="6"></td>
                <td colspan="4">address</td>
                <td colspan="2">driverDetails</td>
                <td colspan="9">carDetails</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>uuid</td>
                <td>email</td>
                <td>name</td>
                <td>surname</td>
                <td>status</td>
                <td>campaignName</td>
                <td>campaignId</td>
                <td>dateOfBirth</td>
                <td>postcode</td>
                <td>city</td>
                <td>street</td>
                <td>province</td>
                <td>monthlyDistanceIndex</td>
                <td>type</td>
                <td>make</td>
                <td>model</td>
                <td>year</td>
                <td>mileage</td>
                <td>body</td>
                <td>colour</td>
                <td>windscreen height</td>
                <td>windscreen width</td>
            </tr>
            <tr class="grey-colour">
                <td></td>
                <td></td>
                <td>uuid</td>
                <td><input on-enter-blur on-blur-change="controller.filterResults()"
                           ng-model="controller.filterCriteriaResource.email"
                           type="text"/>
                </td>
                <td><input on-enter-blur on-blur-change="controller.filterResults()"
                           ng-model="controller.filterCriteriaResource.name"
                           type="text"/>
                </td>
                <td><input on-enter-blur on-blur-change="controller.filterResults()"
                           ng-model="controller.filterCriteriaResource.surname"
                           type="text"/></td>
                <td>
                    <select on-enter-blur on-blur-change="controller.filterResults()"
                            ng-model="controller.filterCriteriaResource.status">
                        <option ng-repeat="status in controller.driverStatuses" value="{{status.value}}">
                            {{status.label}}
                        </option>
                    </select>
                </td>
                <td><!-- campaignName --></td>
                <td><!-- campaignId --></td>
                <td><!-- dateOfBirth --></td>
                <td>
                    <input on-enter-blur on-blur-change="controller.filterResults()"
                           ng-model="controller.filterCriteriaResource.postcode"
                           type="text"/></td>
                <td>
                    <input on-enter-blur on-blur-change="controller.filterResults()"
                           ng-model="controller.filterCriteriaResource.city"
                           type="text"/>
                </td>
                <td>
                    <input on-enter-blur on-blur-change="controller.filterResults()"
                           ng-model="controller.filterCriteriaResource.street"
                           type="text"/>
                </td>
                <td>
                    <select on-enter-blur on-blur-change="controller.filterResults()"
                            ng-model="controller.filterCriteriaResource.province">
                        <option value="" selected></option>
                        <option value="dolnośląskie">dolnośląskie</option>
                        <option value="kujawsko-pomorskie">kujawsko-pomorskie</option>
                        <option value="lubelskie">lubelskie</option>
                        <option value="lubuskie">lubuskie</option>
                        <option value="łódzkie">łódzkie</option>
                        <option value="małopolskie">małopolskie</option>
                        <option value="mazowieckie">mazowieckie</option>
                        <option value="opolskie">opolskie</option>
                        <option value="podkarpackie">podkarpackie</option>
                        <option value="podlaskie">podlaskie</option>
                        <option value="pomorskie">pomorskie</option>
                        <option value="śląskie">śląskie</option>
                        <option value="świętokrzyskie">świętokrzyskie</option>
                        <option value="warmińsko-mazurskie">warmińsko-mazurskie</option>
                        <option value="wielkopolskie">wielkopolskie</option>
                        <option value="zachodniopomorskie">zachodniopomorskie</option>
                    </select>
                </td>
                <td>monthlyDistanceIndex</td>
                <td>type</td>
                <td>
                    <input on-enter-blur on-blur-change="controller.filterResults()"
                           ng-model="controller.filterCriteriaResource.carMake"
                           type="text"/>
                </td>
                <td>
                    <input on-enter-blur on-blur-change="controller.filterResults()"
                           ng-model="controller.filterCriteriaResource.carModel"
                           type="text"/>
                </td>
                <td><!-- year --></td>
                <td><!-- mileage --></td>
                <td>
                    <!--<select on-enter-blur on-blur-change="controller.filterResults()" ng-model="controller.filterCriteriaResource.carBody">-->
                    <!--<option value="hatchback">hatchback</option>-->
                    <!--<option value="kabriolet">kabriolet</option>-->
                    <!--<option value="kombi">kombi</option>-->
                    <!--<option value="mpv">mpv</option>-->
                    <!--<option value="pickup">pickup</option>-->
                    <!--<option value="sedan">sedan</option>-->
                    <!--<option value="limuzyna">limuzyna</option>-->
                    <!--<option value="sport/coupe">sport/coupe</option>-->
                    <!--<option value="SUV">SUV</option>-->
                    <!--<option value="terenowy">terenowy</option>-->
                    <!--<option value="van">van</option>-->
                    <!--</select>-->
                </td>
                <td><input on-enter-blur on-blur-change="controller.filterResults()"
                           ng-model="controller.filterCriteriaResource.carColour"
                           type="text"/></td>
                <td>windscreen height</td>
                <td>windscreen width</td>
                <td></td>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="driver in drivers" ng-class="{'text-error' : true}">
                <td>
                    <md-button ng-click="controller.goToEditDriver(driver.uuid)">
                        <md-icon md-font-set="material-icons">mode_edit</md-icon>
                    </md-button>
                </td>
                <td>{{$index+1}}</td>
                <td>{{driver.uuid}}</td>
                <td>{{driver.email}}</td>
                <td>{{driver.name}}</td>
                <td>{{driver.surname}}</td>
                <td>{{driver.status}}</td>
                <td>{{driver.driverCampaignDetailsResource.campaignName}}</td>
                <td>{{driver.driverCampaignDetailsResource.campaignId}}</td>
                <td>{{driver.dateOfBirth}}</td>
                <td>{{driver.address.postcode}}</td>
                <td>{{driver.address.city}}</td>
                <td>{{driver.address.street}}</td>
                <td>{{driver.address.province}}</td>
                <td>{{driver.driverDetails.monthlyDistanceIndex}}</td>
                <td>{{driver.driverDetails.type}}</td>
                <td>{{driver.carDetails.make}}</td>
                <td>{{driver.carDetails.model}}</td>
                <td>{{driver.carDetails.year}}</td>
                <td>{{driver.carDetails.mileage | number:0}}</td>
                <td>{{driver.carDetails.body}}</td>
                <td>{{driver.carDetails.colour}}</td>
                <td>{{driver.carDetails.windscreenDimensions.height}}</td>
                <td>{{driver.carDetails.windscreenDimensions.width}}</td>
                <td>
                    <md-button id="{{driver.uuid}}" ng-show="driver.status == 'REGISTERED'"
                               ng-click="controller.openAddDriverToCampaignDialog($event, driver.uuid)">
                        <md-icon md-font-set="material-icons">add_box</md-icon>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- TODO make button grayed out if no more to load -->
        <div class="row">
            <div class="col-md-6 col-md-offset-12">
                <button type="button" class="btn btn-default btn-lg" ng-click="controller.loadMoreResults()">
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                    wiecej...
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                </button>
            </div>
        </div>

        <br>

    <pre><p>metadata</p>
      {{metadata}}</pre>

    <pre><p>drivers</p>
      {{drivers}}</pre>


    </md-content>
</div>
