<div layout="column" ng-controller="EditDriverController as controller" data-ng-init="controller.init()" ng-cloak>

    <md-toolbar md-scroll-shrink ng-if="true">
        <div class="md-toolbar-tools">
            <h3>
                <span>Edytuj detale kierowcy</span>
            </h3>
        </div>
    </md-toolbar>

    <md-content layout-padding style="overflow: scroll;">
        <div>
            <!--<div name="driversRegistration">-->
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Imie</label>
                    <input type="text" id="imie" name="imie" ng-model="driver.name" value="{{driver.name}}">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Nazwisko</label>
                    <input type="text" id="nazwisko" name="nazwisko" ng-model="driver.surname" value="driver.surname">
                </md-input-container>
                <md-datepicker id="dataUrodzenia" name="dataUrodzenia"
                               ng-model="dateOfBirth"></md-datepicker>
            </div>
        </div>
    </md-content>
    <md-content layout-padding style="overflow: scroll;">

        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Email</label>
                <input type="text" id="email" name="email" ng-model="driver.email">
            </md-input-container>
        </div>
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label for="kodPocztowy">Kod pocztowy</label>
                <input type="text" id="kodPocztowy" name="kodPocztowy"
                       ng-model="driver.address.postcode">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label for="kodPocztowy">Ulica</label>
                <input type="text" id="ulica" name="ulica"
                       ng-model="driver.address.street">
            </md-input-container>
        </div>
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label for="miejscowosc">Miejscowosc</label>
                <input type="text" id="miejscowosc" name="miejscowosc"
                       ng-model="driver.address.city">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Wojewdztwo</label>
                <md-select ng-model="driver.address.province">
                    <md-option ng-repeat="province in provinces"
                               value="{{province}}">
                        {{province}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

    </md-content>
    <md-content layout-padding style="overflow: scroll;">

        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Marka pojazdu</label>
                <md-select ng-model="driver.carDetails.make">
                    <md-option ng-repeat="make in carMakes"
                               value="{{make}}">
                        {{make}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label for="modelPojazdu">Model pojazdu</label>
                <input type="text" id="modelPojazdu" name="modelPojazdu"
                       ng-model="driver.carDetails.model">
            </md-input-container>
        </div>
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Rocznik pojazdu</label>
                <md-select ng-model="driver.carDetails.year">
                    <md-option ng-repeat="year in carYears" value="{{year}}">
                        {{year}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label for="przebieg">Przebieg</label>
                <input type="text" id="przebieg" name="przebieg"
                       ng-model="driver.carDetails.mileage">
            </md-input-container>
        </div>
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Typ nadwozia</label>
                <md-select ng-model="driver.carDetails.body">
                    <md-option ng-repeat="body in carBodies" value="{{body}}">
                        {{body}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Kolor</label>
                <md-select ng-model="driver.carDetails.colour">
                    <md-option ng-repeat="colour in carColours" value="{{colour}}">
                        {{colour}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Szerokość szyby (w cm)</label>
                <input type="text" ng-model="driver.carDetails.windscreenDimensions.width">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Wysokość szyby (w cm)</label>
                <input type="text" ng-model="driver.carDetails.windscreenDimensions.height">
            </md-input-container>
        </div>

    </md-content>
    <md-content layout-padding style="overflow: scroll;">

        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Grupa zawodowa</label>
                <md-select ng-model="driver.driverDetails.type">
                    <md-option ng-repeat="type in driversTypes" value="{{type.value}}">
                        {{type.label}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
                <label>Srednia ilosc km na miesiac</label>
                <md-radio-group ng-model="driver.driverDetails.monthlyDistanceIndex">
                    <md-radio-button value="1">1 - 2.5 tys</md-radio-button>
                    <md-radio-button value="2">2.5 - 4 tys</md-radio-button>
                    <md-radio-button value="3">4-6 tys</md-radio-button>
                    <md-radio-button value="4">6+ tys</md-radio-button>
                </md-radio-group>
            </md-input-container>
            <!--</div>-->
            </form>
        </div>
    </md-content>

    <md-button ng-click="controller.saveChanges()">
        Zapisz zmiany
    </md-button>

    <md-content>
        <pre>{{controller.driver}}</pre>
    </md-content>

</div>
