<div layout="column" ng-controller="LoginController as controller" ng-cloak>

    <md-toolbar md-scroll-shrink ng-if="true">
        <div class="md-toolbar-tools">
            <h3>
                <span>Zalogowany!</span>
            </h3>
        </div>
    </md-toolbar>


    <md-content flex>
        <ui-view layout="column">
            <md-card flex-gt-sm="90" flex-gt-md="80">
                <md-card-content>

                   <h3> Wooo hooo!!!! udalo sie! </h3>
                </md-card-content>
            </md-card>
        </ui-view>


    </md-content>

</div>
