<div layout="column" ng-controller="LoginController as controller" ng-cloak>

    <md-toolbar md-scroll-shrink ng-if="true">
        <div class="md-toolbar-tools">
            <h3>
                <span>Login</span>
            </h3>
        </div>
    </md-toolbar>


    <md-content flex>
        <ui-view layout="column">
            <md-card flex-gt-sm="90" flex-gt-md="80">
                <md-card-content>

                    <form name="LoginForm" novalidate>
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>login</label>
                                <input required type="text" id="login" name="login"
                                       ng-model="controller.loginRequest.login">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>haslo</label>
                                <input required type="password" id="password" name="password"
                                       ng-model="controller.loginRequest.password">
                            </md-input-container>
                        </div>
                    </form>

                    <md-button ng-disabled="!LoginForm.$valid" type="submit" ng-click="controller.login()">Zaloguj sie</md-button>

                </md-card-content>
            </md-card>
        </ui-view>


    </md-content>

</div>
